body {
  margin: 0;
}
.container {
  max-width: 800px;
}
.container nav {
  display: flex;
  min-width: 100%;
  background-color: #fef7e2;
  margin: 0;
  justify-content: center;
  gap: 10px;
  padding-block: 1.2rem;
  box-sizing: border-box;
  align-items: center;
  padding-inline: 12px;
}
.box {
  background-color: #ffdf7f;
  color: #9b4304;
  font-weight: bold;
  border-radius: 50px;
  padding-inline: 1rem;
  border: none;
  padding: 1rem 0.7rem;
  flex-grow: 1;
  align-items: center;
  line-height: bold;
}
.shop {
  padding-block: 1.6rem;
  padding-inline: 3rem;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}
.product h1 {
  color: #9b4304;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 40px;
}
.main {
  width: 100%;
}
.sezCard {
  padding: 1rem;
}
.card,
.card img {
  width: 250px;
  background-color: #fef7e2;
  margin-bottom: 1rem;
}
.card img {
  border-radius: 30px 30px 0px 0px;
  width: 100%;
}
.card {
  border-radius: 30px;
  flex-grow: 1;
}
.testo h4,
p {
  color: #9b4304;
  margin: 0;
}
.prezzo {
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 28px;
}
.descrizione {
  padding: 0.6rem 2rem;
}
.card button {
  background-color: #ffdf7f;
  border: none;
  padding: 0.4rem 2.2rem;
  border-radius: 20px;
  color: #9b4304;
  font-weight: bold;
}
.bottone {
  text-align: center;
}
.sezCard {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
}
article h2 {
  color: #9b4304;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 35px;
}
.container2 h3 {
  color: #9b4304;
  font-weight: bold;
  font-size: 27px;
}
.container2 {
  background-color: #fef7e2;
  margin-inline: 27px;
  border-radius: 30px;
  padding: 1rem 2rem;
}
.container2 img {
  margin-block: 1.2rem;
  width: 100%;
}
